<mat-list>
    <mat-list-item routerLink="/">
    <mat-icon class="bottom-menu" matListItemIcon>rocket_launch</mat-icon>
    <div matListItemTitle class="font1">Home</div>
    </mat-list-item>
    <mat-list-item class="bottom-menu" routerLink="/alta">
        <mat-icon matListItemIcon>app_registration</mat-icon>
        <div matListItemTitle class="font1">Register</div>
        </mat-list-item>
    <mat-list-item class="bottom-menu" routerLink="/ingresar">
        <mat-icon matListItemIcon>input</mat-icon>
        <div matListItemTitle class="font1">Login</div>
        </mat-list-item>
</mat-list>

