    <app-spinner  *ngIf="loading"></app-spinner>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" class="font2" *ngFor="let noti of notispace">
            <mat-card class="mat-elevation-z4" >
            <mat-card-header>
                <mat-card-title>{{ noti.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{noti.imageUrl}}">
            <mat-card-content>
                <p>
                    {{ noti.newsSite }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                    <div class="example-button-container">
                        <button mat-fab color="warn" routerLink="/articulo/{{noti.id}}">
                        <mat-icon>info</mat-icon>
                        </button>
                    </div>
            </mat-card-actions>
            </mat-card>
        </div>
        </div>
        </div>